[class*="form__wrapper"] {
  margin: 0 auto;
  width: 326px;

  form {
    padding-right: 3%;
  }

  .mdl-card__title {
    color: #ffffff;
  }

  .mdl-card__title-text {
    margin: 0 auto;
  }
}

.form__wrapper--centre {
  transform: translateY(33%);
}

.local-button {
  border: 1px solid #000;
  margin-right: 69%;
}

.social-buttons__wrapper {
  margin: 0 auto;
}

.button__facebook {
  background-color: $facebook-blue;
  color: #ffffff;

  &:hover {
    color: $facebook-blue;
  }
}

.button__twitter {
  background-color: $twitter-blue;
  color: #ffffff;

  &:hover {
    color: $twitter-blue;
  }
}

.button__google {
  background-color: $google-red;
  color: #ffffff;

  &:hover {
    color: $google-red;
  }
}