.headernav__tab {
  display: table-cell;
}

.headernav__header {
  background-color: $background-purple;

  .mdl-layout__tab-bar {
    height: auto;
    display: table;
    table-layout: fixed;
    background-color: $background-purple;
  }
}