@import "../variables";

.mdl-card__title {
  background-color: $background-purple;//url('/images/potpourri.png');
  background-size: 100%;
  height: 50px;
  padding: 11px 16px !important;
}

.post__title-text a {
  color: #ffffff !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.post__wrapper {
  margin: 12px;
  min-height: 120px !important;

  li {
    display: inline-block;
  }
}

.post__supporting-text {
  min-height: 53px;
}

.post__actions {
  background-color: $background-purple !important;
  height: 35px !important;
  padding: 0 !important;
  
  .material-icons {
    color: rgba(255, 255, 255, 0.83) !important;
  }
}